<img src="/Good_Will_Hunting.jpg" alt="Good Will Hunting Poster">
<p>Good Will Hunting is one of my favorite movies. It is a 1997 American film staring Matt Damon. The film follows a young boy in Boston (Damon) through a life of brilliance countered by a life of poverty. The film won two Academy Awards. One for Best Supporting Actor, Robin Williams and one for Best Original Screenplay. </p>