<img src="/The_Martian.jpg" alt="The Martian Poster">
<p>The Martian is my second Favorite movie behind Good Will Hunting. As you may notice I am a huge Matt Damon fan. In the Martian Matt Damon is left by his crew on the surface of Mars. You watch as he uses his cunning skills to survive the desolate surface of Mars and make contact with NASA back on Earth in hopes of being rescued.</p>